.container1{
    display: grid;
    width: 400px;
    height: 600px;
    background-color: blueviolet;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
   justify-items: start;
   align-items: start;
    justify-content: start;
    align-content: center;
    
}

.item1{
    background-color: blue;
    font-size: 30px;
    padding: 20px;
}