*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
 nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    padding: 10px;
 }

 nav ul{
    display: flex;
    gap: 10px;
    color:white;
 
   
 }
nav ul li{
    list-style: none;
}

 .styled-link {
    text-decoration: none;
 }

 .styled-link:link{
    color: white;
 }

 .styled-link:hover{
    color:red;
    background-color: rgb(221, 213, 228);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    padding: 10px;
 }

.styled-link:visited{
    color:blue;
}

nav img{
    width: 30px;
}

.styled-link:active{
    color:green;
    background-color: red;
}