h1 {
    color: red;
}
img {
    width: 90%;
}

/*@media screen and (max-width: 720px){
    h1{
        color: gree
    }
}*/

@media screen and (min-width: 765px){
    h1{
        color: gree
    }
}